
        
		<!-- =========   CONTEUDO =================== -->
        
		<section id="planos">
			<div class="container" > <!-- PLANOS -->			
				<div class="row">
					<div class="col-md-12" style="padding-bottom: 30px; padding-top: 30px">
						<span style="padding: 0px 0% 0px 39%" class='nossos-planos' >Nossos Planos</span>
					</div>					
				</div>

				<div class="row">
					<div class="col-md-4">						
						<div class="panel panel-default" style="margin-left: 10px" >
							<div class="panel-heading font-demo-heading" id="panel-demo" style="padding: 10px 0% 5px 37%">
								Demo
							</div>
 							<div class="panel-body" style="height: 160px;">
							    <ul>
							    	<li>10 dias de acesso</li>
							    	
							    </ul>
							</div>
							<div class="panel-footer">
							    <a href="cadastro-demo.php" class="btn btn-lg btn-custom" id='botao-assinar-demo'>Testar</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel panel-default" >
							<div class="panel-heading font-demo-heading" id="panel-basic" style="padding: 0px 0% 0px 33%; color: white">
								Básico
							</div>
 							<div class="panel-body">
							    <ul>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    </ul>
							</div>
							<div class="panel-footer">
							    <a href="#" class="btn btn-lg btn-custom" id='botao-assinar'>Assinar</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel panel-default" style="margin-right: 10px" >
							<div class="panel-heading font-demo-heading" id="panel-premium" style="padding: 0px 0% 0px 25%; color: white">
								Premium
							</div>
 							<div class="panel-body">
							      <ul>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    	<li>teste</li>
							    </ul>
							</div>
							<div class="panel-footer">
							    <a href="#" class="btn btn-lg btn-custom" id='botao-assinar'>Assinar</a>
							</div>
						</div>						
					</div>		
				</div>				
			</div><!-- /PLANOS -->
		</section>	


		<div class="container" id="sobre">
			
				<div class="row">
					<div class="col-md-12">
						<span class="sobreSystraders">Sobre o Sys Traders</span>
					</div>
				</div>
				
				<p>Sabemos que operar no Mercado Financeiro não é uma tarefa simples. Milhões de investidores e Day Traders perdem fortunas todos os anos
				por inexperiência ou pura falta de informações</p>
				<p>Essa falta de informação muitas vezes se resume a ausência de uma ferramenta que lhe permita enxergar os seus melhores e piores momentos, em quais stocks
				ele se dá melhor, qual é o período do dia onde ele obtém os melhores resultados, quais os meses do ano ele teve seus melhores desempenhos, entre outras informações
				importântes para o profissional que atua ou deseja atuar no mercado financeiro.</p>
				<p>O Sys Trader é uma ferramenta indispensável para você, trader proffisional, que deseja operar na Market americana.
				Sim, estamos falando da NASDAQ, DOW JONES E S&amp;P500!!! </p>
				<p>Com ele você obterá a melhor performance com relatórios diversos, gráficos e o histórico das suas operações, tendo assim
				todos os parâmetros necessários para fazer uma avaliação precisa do seu desempenho e conseguirá ver exatamente onde precisa melhorar.</p>

				<p>O sistema dispõe de uma rede social, onde você poderá compartilhar seus resultados quando e se desejar, e ainda poderá ter o auxilio 
				de seu mentor ou do seu grupo de amigos, permitindo que compartilhem informações sobre Stocks ou movimentações do mercado.</p>

				<p>Venha fazer parte do seleto mercado americano com o maior número de informações possíveis.</p>
			
		</div>

		<!-- DEPOIMENTOS -->

		
			<div class="container">			
				<div class="row div_depoimentos">
					
					<div class="col-md-12" style="padding-left: 500px;">
						<h2>Depoimentos</h2>
					</div>
					
					<div class="col-md-3">
						<div class="panel panel-default" style="margin-left: 10px" >
							<div class="panel-heading" style="padding: 10px 0% 5px 37%">
								Depoimento 1
							</div>
 							<div class="panel-body" style="height: 160px;">
							    <ul>
							    	<li>Depoimento</li>
							    	
							    </ul>
							</div>							
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default" style="margin-left: 10px" >
							<div class="panel-heading" style="padding: 10px 0% 5px 37%">
								Depoimento 2
							</div>
 							<div class="panel-body" style="height: 160px;">
							    <ul>
							    	<li>Depoimento</li>
							    	
							    </ul>
							</div>							
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default" style="margin-left: 10px" >
							<div class="panel-heading" style="padding: 10px 0% 5px 37%">
								Depoimento 3
							</div>
 							<div class="panel-body" style="height: 160px;">
							    <ul>
							    	<li>Depoimento</li>
							    	
							    </ul>
							</div>							
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel panel-default" style="margin-left: 10px" >
							<div class="panel-heading" style="padding: 10px 0% 5px 37%">
								Depoimento 4
							</div>
 							<div class="panel-body" style="height: 160px;">
							    <ul>
							    	<li>Depoimento</li>
							    	
							    </ul>
							</div>							
						</div>
					</div>					
				</div>				
			</div>


